@import url(//fonts.googleapis.com/css?family=Lato:300:400);

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

.spinner-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-right-color: #2727fd;
  animation: spinner-a4dj62 1s infinite linear;
  z-index: 9999;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8.9px;
  animation-duration: 3s;
}

.container {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.icon {
  width: 17em;
  height: 10em;
  margin-left: 10em;
}

.carousel {
  padding-bottom: 5em;
  margin-top: 7.4em;
}

.title {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 3.4em !important;
  font-weight: 300;
  letter-spacing: 2px;
  margin-right: 1em;
  margin-left: 1em;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 3.4em !important;
  font-weight: 300;
  letter-spacing: 2px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
  font-size: 14px;
  color: #333333;
}

.header {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgb(15, 113, 179) 100%
  );
  color: white;
  min-width: 100vw;
}
.inner-header {
  height: 76vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-content {
  position: relative;
  margin: 8em 6em;
}

.main-content .second-title {
  background: url("../img/patternpad.svg");
  width: 100%;
  border-radius: 15px;
}

.second-title {
  min-width: 5em;
}

a {
  font-family: "Lato", sans-serif;
  position: relative;
  padding: 15px 30px;
  color: rgb(15, 113, 179);
  letter-spacing: 2px;
  font-size: 20px;
  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  width: 10em;
  margin-top: 3em;
}

a:hover {
  background: rgb(15, 113, 179);
  color: rgb(255, 255, 255);
  box-shadow: 0 0 50px rgb(15, 113, 179);
  transition-delay: 0.5s;
}

a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid rgb(15, 113, 179);
  border-left: 2px solid rgb(15, 113, 179);
  transition: 0.5s;
}

a:hover:before {
  width: 100%;
  height: 100%;
}

a:hover:after {
  width: 100%;
  height: 100%;
}

a:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid rgb(15, 113, 179);
  border-right: 2px solid rgb(15, 113, 179);
  transition: 0.5s;
}

/*Flexbox for containers*/
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px; /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.content {
  position: relative;
  height: 20vh;
  text-align: center;
  background-color: white;
}

/*MAIN CONTENT*/

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2.5em;
  margin-bottom: 5em;
}

.nav-container > button {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  font-family: Phantomsans, sans-serif;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-container > button:active,
.nav-container > button:hover {
  outline: 0;
  transform: scale(1.06);
  transition: all ease-in-out 0.3s;
}

.nav-container > button span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.nav-container > button:hover span {
  background: none;
}

.nav-container > button:active {
  transform: scale(0.9);
}

.menu .box-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  gap: 5rem;
}

.card {
  width: 17rem;
  height: 20rem;
  background: #3405a3;
  border-radius: 1.5em;
  box-shadow: 1px 5px 60px 0px #100a886b;
  transition: all ease-in-out 0.2s;
}

.card:hover {
  transform: scale(1.15) !important;
  transition: all ease-in-out 0.2s !important;
}

.card .card-border-top {
  width: 60%;
  height: 3%;
  background: #6b64f3;
  margin: auto;
  border-radius: 0px 0px 15px 15px;
}

.card span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding: 0 0.9em;
  padding-top: 1em;
  font-size: 16px;
}

.card .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 12px;
}

.card .available_seats {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 12px;
  margin-top: 1.8em;
}

.card .img {
  width: 5em;
  height: 80px;
  background: #6b64f3;
  border-radius: 15px;
  margin: auto;
  margin-top: 25px;
}

.card button {
  padding: 8px 25px;
  display: block;
  margin: auto;
  border-radius: 8px;
  border: none;
  margin-top: 20px;
  background: #6b64f3;
  color: white;
  font-weight: 600;
}

.card button:hover {
  transition: all ease-in-out 0.2s;
  background: #534bf3;
  transform: scale(1.08);
}

.card button:active {
  transform: scale(0.9);
  transition: all ease-in-out 0.01s;
}
/*MAIN CONTENT END*/

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  .title {
    font-size: 2.3em !important;
  }

  .icon {
    width: 15em;
    margin-left: 4em;
  }
}

/*Shrinking for mobile*/
@media screen and (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  .title {
    font-size: 2em !important;
  }

  .second-title {
    margin: 3em 0.5em;
    padding: 0 3em;
  }

  .second-title > h1 {
    font-size: 2.5em !important;
  }

  .icon {
    width: 12em;
    margin-left: 6em;
  }
}

/*Shrinking for mobile*/
@media screen and (max-width: 480px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
  .title {
    font-size: 1.9em !important;
    word-spacing: 3px;
  }

  .main-content h1 {
    font-size: 1.9em !important;
    word-spacing: 3px;
  }

  .second-title {
    margin-bottom: 2em 2em;
  }

  .icon {
    width: 12em;
    margin-left: 6em;
  }
}
